<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Pilotes des 24 Heures du Mans</title>
    <style>
        body {
            font-family: "Helvetica", Arial, sans-serif;
        }
        li {
            line-height: 1.5em;
            margin-bottom: 20px;
        }
        .author,
        .date {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>Les Pilotes des 24 Heures du Mans</h1>
        <input type="text" v-model="searchQuery" placeholder="Rechercher un pilote..." />

        <ul>
            <li v-for="pilote in filteredPilotes">
                <span class="date">{{ pilote.annee }}</span> -
                <span class="author">{{ pilote.pilotes }}</span><br />
                Équipe: <span>{{ pilote.equipe }}</span><br />
                Voiture: <span>{{ pilote.voiture }}</span>
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const apiURL = "https://data.sarthe.fr/api/explore/v2.1/catalog/datasets/227200029_24-heures-du-mans-pilote/records?limit=20";

        Vue.createApp({
            data() {
                return {
                    pilotes: [],
                    searchQuery: ''
                };
            },
            created() {
                this.fetchData();
            },
            computed: {
                filteredPilotes() {
                    if (this.searchQuery) {
                        return this.pilotes.filter(pilote => 
                            pilote.pilotes.toLowerCase().includes(this.searchQuery.toLowerCase())
                        );
                    }
                    return this.pilotes;
                }
            },
            
            methods: {
                fetchData() {
                    fetch(apiURL)
                        .then(response => response.json())
                        .then(data => {
                            console.log("Data from API:", data);
                            this.pilotes = data.results;
                        })
                        .catch(error => {
                            console.error('Erreur API:', error);
                        });
                }
            }
        }).mount("#app");
    </script>
</body>
</html>
